<h1><%= phenotype_header(@phenotype) %></h1>
<div class="container">
  <dl>
    <dt>Description</dt>
    <dd class="noline"><%= @phenotype.long_desc %></dd>
    
    <dt>Known Genes</dt>
    <dd>
      <%- if @phenotype.entries.count == 0 -%>
        None&nbsp;
      <%- else -%>
        <ul class="gene_list known">
          <%- @genes.each do |g| -%>
            <%= gene_list_item(g.id, "s_") %>
          <%- end -%>
        </ul>
      <%- end -%>

      <%- if !@matrix.is_a?(TreeMatrix) && @phenotype.id >= 2000000 -%>
        <%= link_to "edit", edit_matrix_phenotype_observations_path(@matrix, @phenotype) %>
      <%- end -%>
    </dd>
  </dl>
</div>

<% unless @distance_matrix.nil? %>
  <div class="container">
    <h2>Analysis Parameters</h2>
    <dl>
      <dt>Predicting</dt>
      <dd class="noline"><%= predict_matrix_avatar(@matrix) %></dd>

      <dt>Sources</dt>
      <dd class="horiz"><%= source_matrices(params_source_matrix_ids) %></dd>

      <dt>Min Genes</dt>
      <dd><%= params_min_genes %></dd>

      <dt>Classifier</dt>
      <dd><%= params_classifier %></dd>

      <dt>Distance Function</dt>
      <dd><%= params_distance_function %></dd>

      <dt>Max Distance</dt>
      <dd><%= params_max_distance %></dd>

      <dt>k</dt>
      <dd><%= params_k %></dd>
    </dl>
  </div>

<div class="container">
  <h2>Predictions</h2>
  <table style="font-size: small; margin-right: 11em;">
    <tr><th style="width: 11em;">Score</th><th>Gene(s)</th></tr>
  <%- @predictions.keys.sort{ |a,b| b <=> a }.each do |score| -%>
    <tr>
      <td><%= score %></td>
      <td>
        <ul class="gene_list">
<%- @predictions[score].sort.each do |gene_id| -%>
  <%= gene_list_item(gene_id, "p_", @known_genes.has_key?(gene_id)) %>
<%- end -%>
        </ul>
      </td>
    </tr>
  <%- end -%>
  </table>
</div>

<div class="container">
  <h2>Analyses (<%= params[:dfn].to_s %>)</h2>

  <%= plot_hits @nearestk %>

  <h3>Nearest</h3>
  <%= render :partial => 'hits', :locals => {:phenotypes => [@nearest_phenotype]}, :object => [@nearest] %>

  <% if params_k > 1 %>
    <h3>k=1 k-Nearest Neighbors</h3>
    <%= render :partial => 'hits', :locals => {:phenotypes => @nearest_k_phenotypes }, :object => @nearest1 %>
  <% end %>

  <h3>k=<%= params_k %> k-Nearest Neighbors</h3>
  <%= render :partial => 'hits', :locals => {:phenotypes => @nearest_k_phenotypes }, :object => @nearestk %>

</div>
<% end %>

<div class="tooltip"></div>