<h1><%= phenotype_header(@phenotype) %></h1>
<dl>
  <dt>Description</dt>
  <dd><%= @phenotype.long_desc %></dd>
</dl>

<dl>
  <dt>Genes</dt>
  <dd>
    <%- if @phenotype.entries.count == 0 -%>
      None&nbsp;
    <%- else -%>
      <%= @phenotype.entries.collect{ |e| e.i }.sort.uniq.join(", ") %>
    <%- end -%>
      
    <%- if !@matrix.is_a?(TreeMatrix) && @phenotype.id >= 2000000 -%>
      <%= link_to "edit", edit_matrix_phenotype_observations_path(@matrix, @phenotype) %>
    <%- end -%>
  </dd>
</dl>

<% unless @distance_matrix.nil? %>
  <h2>Analyses (<%= params[:dfn].to_s %>)</h2>

  <%= plot_hits @nearestk %>

  <h3>Nearest</h3>
  <%= render :partial => 'hits', :locals => {:phenotypes => [@nearest_phenotype]}, :object => [@nearest] %>

  <% if params_k > 1 %>
    <h3>k=1 k-Nearest Neighbors</h3>
    <%= render :partial => 'hits', :locals => {:phenotypes => @nearest_k_phenotypes }, :object => @nearest1 %>
  <% end %>

  <h3>k=<%= params_k %> k-Nearest Neighbors</h3>
  <%= render :partial => 'hits', :locals => {:phenotypes => @nearest_k_phenotypes }, :object => @nearestk %>

<% end %>