<% content_for :head do -%>
  <%= javascript_include_tag :defaults %>
<% end -%>

<h1>Editing <%= @experiment.class.to_s.titleize %></h1>

<% form_for([@experiment.predict_matrix, @experiment]) do |f| %>
  <%= render :partial => 'john_experiments/form', :locals => { :f => f } %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', [@experiment.predict_matrix, @experiment] %> |
<%= link_to 'Back', matrices_path %>
