<% content_for :head do -%>
  <%= javascript_include_tag 'application.js' %>
  <%= javascript_include_tag 'prototype.js' %>
<% end -%>

<h1>New <%= @experiment.class.to_s.titleize %></h1>

<% form_for([:matrix, @experiment]) do |f| %>
  <%= render :partial => "#{@experiment.class.to_s.tableize}/form", :locals => { :f => f, :predict_matrix => @matrix } %>
  <div style="float: left; clear: both; padding-left: 9.5em;">
    <%= f.submit 'Create' %>
  </div>
<% end %>

<p style="float:left;clear:both;font-size:large;"><%= link_to 'Back', matrix_path(@matrix) %></p>
