<% content_for :head do %>
  <%= stylesheet_link_tag 'flotomatic' %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'jquery.flot.min.js' %>
  <%= javascript_include_tag 'jquery-ui.js' %>
  <%= javascript_include_tag 'jrails.js' %>
  <%= javascript_include_tag 'prototype.js' %>
  <%= javascript_include_tag 'flotomatic.js' %>
<% end %>

<div>
<%- if @experiment.run_result.nil? -%>
<%= link_to('Edit', edit_matrix_experiment_path(@matrix, @experiment)) %> |
<%- end -%>
<%= link_to 'Back', matrix_path(@matrix) %>
</div>

<h1>Results for Cross-validation Experiment <%= @experiment.id %></h1>
<div class="experiment_data">
<table id="experiment_rocs">
  <tr>
    <th><%= @experiment.predict_matrix.column_title %></th>
    <th>AUC</th>
    <th>TP</th>
    <th>FP</th>
    <th>TN</th>
    <th>FN</th>
  </tr>
<%- @experiment.rocs.each do |roc| -%>
  <tr>
    <td><%= link_to_phenotype(roc) %></td>
    <td><%= roc.auc %></td>
    <td><%= roc.true_positives %></td>
    <td><%= roc.false_positives %></td>
    <td><%= roc.true_negatives %></td>
    <td><%= roc.false_negatives %></td>
  </tr>
<%- end -%>
</table>
</div>
<div class="experiment_plot">
<h2>AUCs (experiment with average of children)</h2>
<%= render :partial => 'matrices/plot', :locals => {:canvas_id => 'experiment_roc_plot', :rocs => @flot} %>
</div>