    <tr>
      <td rowspan="2" class="experiment_id"><%= link_to experiment.id, matrix_experiment_path(@matrix, experiment) %></td>
      <td><%= method_avatar experiment.method %></td>
      <td><%= source_matrices(experiment) %></td>
      <td><%= distance_function_avatar experiment.distance_measure %></td>
      <td><%= distance_of_time_in_words_to_now experiment.updated_at %> ago</td>
      <td style="font-size:smaller;"><tt>
        <%- if experiment.min_genes? -%>min_genes=<%= experiment.min_genes %><br/><%- end -%>
        <%- if experiment.k? -%>k=<%= experiment.k %><br/><%- end -%>
      </tt></td>
      <td title="<%= experiment.total_auc %>">
        <%= link_to_experiment_if_appropriate(@matrix, experiment, mini_roc_plot(@rocs[experiment.id], 1000)) %>
      </td>
      <%# li><h4>Comments</h4><%= render :partial => 'comments', :object => experiment.comments ></li-- %>
    </tr>
    <tr>
      <td colspan="3"><%= experiment.note %></td>
    </tr>