<% content_for :head do %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'jquery-ui.js' %>
  <%= javascript_include_tag 'jrails.js' %>
  <%= javascript_include_tag 'prototype.js' %>
<% end %>

<div>
<%- if @experiment.run_result.nil? -%>
<%= link_to('Edit', edit_matrix_experiment_path(@matrix, @experiment)) %> |
<%- end -%>
<%= link_to 'Back', matrix_path(@matrix) %>
</div>

<h1>Viewing Phenotypes for Predictor <%= @experiment.id %></h1>
<div class="experiment_data" style="width: 100%">
  <dl>
  <%- @matrix.phenotypes.each_with_index do |phenotype, count| -%>
    <dt>
      <%= link_to_phenotype(phenotype) %>
    </dt>
    <dd<%= " class=\"noline\"" unless count > 0 %>><%= phenotype.short_desc || phenotype.long_desc %> <%= link_to("Edit", edit_matrix_phenotype_path(@matrix, phenotype)+"_observations") if phenotype.id >= 2000000  %></dd>
  <%- end -%>
  <dl>
</div>