<div id="<%= canvas_id %>_legend" style="position: absolute; left: 810px; height: 400px; width: 100px; display: block;"></div>

<%= flot_canvas canvas_id %>

<div class="flot_dataset_picker">
  <%= flot_selections %>
</div>

<%#= flot_overview("asdhasdlsdfh") %>

<% flot_graph(canvas_id, data) do %>
  <%= flot_plot(:dynamic => true, :overview => false) %>
  <%= flot_tooltip %>
<% end %>
