
<table>
  <tr>
    <th rowspan="2">Matrix</th>
    <th colspan="2">Columns</th>
    <th colspan="2">Rows</th>
    <th>Cells</th>
    <th>Density</th>
    <th rowspan="2">Experiments</th>
  </tr>
  <tr>
    <th>Species</th>
    <th>Total</th>
    <th>Species</th>
    <th>Total</th>
    <th>Total</th>
    <th>cells/column</th>
  </tr>

<% @matrices.each do |matrix| %>
  <tr>
    <td><%= h matrix.title %></td>
    <td><%= h matrix.column_species %></td>
    <td><%= h matrix.column_count %></th>
    <td><%= h matrix.row_species %></td>
    <td><%= matrix.row_count %></td>
    <td><%= matrix.cells.count %></td>
    <td><%= fractional_density(matrix) %></td>
    <td><%= experiments_progress_bar(matrix) %></td>
    <!--td><%#= run_link_if_appropriate(matrix) %></td-->
    <td><%= link_to 'Show', matrix_path(matrix) %></td>
    <td><%= link_to 'View', view_matrix_path(matrix) %></td>
    <td><%= link_to 'Delete', matrix_path(matrix), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
