<h1>Select a Species to Predict</h1>

<ul class="matrix_groups">
<% @predict_matrices_by_species.each_pair do |species, predict_matrices| %>
  
  <li class="matrix_group" id="species_<%= species %>"><h2><i><%= Matrix::FULL_SPECIES_NAME[species] %></i></h2>

    <ul class="predict_matrices">
      <% predict_matrices.each do |predict_matrix| %>
        <li class="predict_matrix" id="pm%<= predict_matrix.id %>">
          <%= matrix_avatar_link(predict_matrix, true) %>
          <ul class="predict_matrix_info">
            <li><%- if predict_matrix.conjugate_id? -%><%= link_to image_tag('shuffle.png'), matrix_path(predict_matrix.conjugate_id), :title => "Show Random" %><%- end -%>
          <%= link_to 'Show', matrix_path(predict_matrix) %> <%= link_to 'Inspect', view_matrix_path(predict_matrix) %></li>
            <li>rows: <%= predict_matrix.row_count %> / columns: <%= predict_matrix.column_count %></li>
            <li>cells: <%= predict_matrix.cells.count %></li>
            <li>density: <%= fractional_density(predict_matrix) %></li>
          <%- if predict_matrix.is_a?(TreeMatrix) -%>
            <li>folds: <%= predict_matrix.children.count %> / <%= predict_matrix.has_grandchildren? ? 2 : 1 %></li>
          <%- else -%>
            <li>no folds</li>
          <%- end -%>
            <li><%= experiments_progress_bar(predict_matrix) %></li>
          </ul>

          <%= link_to 'New experiment', new_matrix_experiment_path(predict_matrix) %>
        </li>
      <% end %>
    </ul>
    <h3>Can predict from matrices:</h3>
    <ul class="source_matrices">
      <% @source_matrices_by_species[species].each do |source_matrix| %>
        <li><%= matrix_avatar_link(source_matrix, true) %></li>
      <% end %>
    </ul>
    <br/>
    <ul class="matrix_info_box">
      <li>
      <% @source_matrices_by_species[species].each do |matrix| %>
        <ul class="info" id="info<%= matrix.id %>" style="display:none">
          <li><%- if matrix.conjugate_id? -%><%= link_to image_tag('shuffle.png'), matrix_path(matrix.conjugate_id), :title => "Show Random" %><%- end -%>
          <%= link_to 'Show', matrix_path(matrix) %> <%= link_to 'Inspect', view_matrix_path(matrix) %></li>
          <li>rows: <%= matrix.row_count %> / columns: <%= matrix.column_count %></li>
          <li>cells: <%= matrix.cell_count %></li>
          <li>density: <%= fractional_density(matrix) %></li>
        </ul>
      <% end %>
      </li>
    </ul>
  </li>

<% end %>
</ul>