<% content_for :head do %>
  <%#= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag '/assets/flotomatic/jquery.flot.min.js' %>
  <%#= javascript_include_tag 'jquery-ui.js' %>
  <%#= javascript_include_tag 'jrails.js' %>
  <%#= javascript_include_tag 'prototype.js' %>
  <%= javascript_include_tag '/assets/flotomatic/flotomatic.js' %>
<% end %>

<%= matrix_avatar @matrix %><h1 style="float:left;">Information for Matrix "<%= @matrix.title %>" (<%= @matrix.id %>)</h1>

<%= render :partial => 'detail', :locals => {:matrix => @matrix} %>

<div class="container">
  <h3>Comments</h3>
  <% if @matrix.comments.size > 0 %>
    <%= render :partial => 'comments', :object => @matrix.comments %>
  <% else %>
    <p>No comments.</p>
  <% end %>
</div>

<div class="container">
  <%- unless @matrix.is_a?(TreeMatrix) -%>
  <h3>Custom Phenotypes</h3>
  <ul>
  <%- @custom_phenotypes.each_pair do |id,phenotype| -%>
    <li><%= id %>: <%= link_to phenotype.long_desc, matrix_phenotype_url(@matrix.id, id) %></li>
  <%- end -%>
  </ul>
    <%= link_to "New Custom Phenotype", new_matrix_phenotype_path(@matrix) %>
  <%- end -%>
</div>

<div class="container">
  <h2>Experiments</h2>
  <!--div id="experiment_list_toggle">
    <%#= render :partial => 'expand_experiments', :locals => {:id => @matrix.id} %>
  </div-->
  <div id="experiment_list">
    <%= render :partial => 'experiments/list', :locals => {:experiments => @matrix.experiments, :rocs => @rocs} %>
  </div>
</div>
