<% content_for :head do %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'jquery.flot.min.js' %>
  <%= javascript_include_tag 'jquery-ui.js' %>
  <%= javascript_include_tag 'jrails.js' %>
  <%= javascript_include_tag 'prototype.js' %>
  <%= javascript_include_tag 'flotomatic.js' %>
<% end %>

<h1>Information for Matrix "<%= @matrix.title %>" (<%= @matrix.id %>)</h1>

<ul>
<%- unless @matrix.parent_id.nil? -%>
  <li>Parent: <%= link_to @matrix.parent_id, @matrix.parent %></li>
  <li>Cardinality: <%= cardinality(@matrix) %></li>
<%- end -%>
<%- unless @matrix.children.count == 0 -%>
  <li>Matrix Fractionations (Experiment Progress): <%#= links_to_matrix_children(@matrix) %>
    <table>
      <% @matrix.children.each do |child| %>
        <tr><td><%= link_to child.id, matrix_path(child) %></td><td><%= experiments_progress_bar(child) %></td></tr>
      <% end %>
    </table>
  </li>
<%- end -%>
  <li>Row Species: <%= @matrix.row_species %></li>
  <li>Column Species: <%= @matrix.column_species %></li>
  <li>Created <%= distance_of_time_in_words_to_now @matrix.created_at %> ago</li>
  <%- unless @matrix.created_at == @matrix.updated_at -%><li>Updated <%= distance_of_time_in_words_to_now @matrix.updated_at %> ago</li><%- end -%>
</ul>

<%#= flot_canvas 'matrix_row_distribution' %>

<%# flot_graph('matrix_row_distribution', @row_distribution) do %>
  <%#= flot_plot %>
<%# end %>

<h3>Comments</h3>
<%= render :partial => 'comments', :object => @matrix.comments %>

<h2>Experiments</h2>
<div id="experiment_list_toggle">
  <%= render :partial => 'expand_experiments', :locals => {:id => @matrix.id} %>
</div>
<div id="experiment_list">
  <%#= render :partial => 'experiments/list', :locals => {:experiments => @matrix.experiments, :rocs => @rocs} %>
</div>
