    <tr>
      <td rowspan="2" class="experiment_id"><%= link_to experiment.id, matrix_experiment_path(@matrix, experiment) %></td>
      <td><%= method_avatar experiment.method %></td>
      <td><%= source_matrices(experiment) %></td>
      <td><%= distance_function_avatar experiment.distance_measure %></td>
      <td><%= distance_of_time_in_words_to_now experiment.updated_at %> ago</td>
      <td>
        <%- if experiment.is_a?(NodeMatrix) && experiment.children.count > 0 -%>
          <%= subexperiments_progress_bar(experiment) %>
        <%- elsif experiment.started_at.nil? -%>
          <%= run_link(experiment) %>
        <%- elsif experiment.completed_at.nil? -%>
          Started <%= distance_of_time_in_words_to_now_ago(experiment.started_at) %>
        <%- else -%>
          Completed <%= distance_of_time_in_words_to_now_ago(experiment.completed_at) %>
        <%- end -%>
      </td>
      <td style="font-size:smaller;"><tt>
        min_genes=<%= experiment.min_genes || 2 %><br/>
        <%- if experiment.k? -%>k=<%= experiment.k %><br/><%- end -%>
        <%- if experiment.run_result? -%>exit: <%= experiment.run_result %><br/><%- end -%>
        <%- if experiment.package_version? -%>version: <%= experiment.package_version %><br/><%- end -%>
        <%- if experiment.distance_exponent? && experiment.distance_exponent != 1.0 -%>distance exp: <%= experiment.distance_exponent %><br/><%- end -%>
        min IDF: <%= experiment.min_idf || 0 %><br/>
      </tt></td>
      <td title="<%= experiment.roc_area %>">
        <%= link_to_experiment_if_appropriate(@matrix, experiment, mini_auc_plot(@aurocs[experiment.id], false)) %>
      </td>
      <td title="<%= experiment.pr_area %>">
        <%= mini_auc_plot(@auprcs[experiment.id], true) %>
      </td>
      <%# li><h4>Comments</h4><%= render :partial => 'comments', :object => experiment.comments ></li-- %>
    </tr>
    <tr>
      <td colspan="3"><%= experiment.note %></td>
    </tr>