<% content_for :head do %>
  <%= stylesheet_link_tag 'flotomatic' %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'flotomatic/jquery.flot.min.js' %>
  <%= javascript_include_tag 'jquery-ui.js' %>
  <%= javascript_include_tag 'jrails.js' %>
  <%= javascript_include_tag 'prototype.js' %>
  <%= javascript_include_tag 'flotomatic/flotomatic.js' %>
<% end %>

<%- if @experiment.run_result.nil? -%>
  <div><%= link_to('Edit', edit_matrix_experiment_path(@matrix, @experiment)) %></div>
<%- end -%>

<h1>Results for Cross-validation Experiment <%= @experiment.id %></h1>
<div class="experiment_data">
<table id="experiment_rocs" class="sortable">
  <tr>
    <th class="startsort">ID</th>
    <th><%= @experiment.predict_matrix.column_title %></th>
    <th>AUROC</th>
    <th>AUPRC</th>
    <th>Genes</th>
  </tr>
<%- @experiment.results.each do |result| -%>
  <tr>
    <td><%= link_to_phenotype(result) %></td>
    <td><%= roc.phenotype.long_desc %></td>
    <td><%= sprintf("%#1.6f", result.auc) %></td>
    <td><%= result.pr_area %></td>
    <td><%= result.false_negatives + result.true_positives %></td>
  </tr>
<%- end -%>
</table>
</div>
<div class="experiment_plot">
<h2>AUCs (experiment with average of children)</h2>
<%= render :partial => 'matrices/plot', :locals => {:canvas_id => 'experiment_roc_plot', :data => @flot} %>
</div>