<% content_for :head do %>
  <%= stylesheet_link_tag 'flotomatic' %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'jquery.flot.min.js' %>
  <%= javascript_include_tag 'jquery-ui.js' %>
  <%= javascript_include_tag 'jrails.js' %>
  <%#= javascript_include_tag 'prototype.js' %>
  <%= javascript_include_tag 'flotomatic.js' %>
<% end %>

<h1>Scatter Plot Comparison of Experiment <%= @experiment.id %> versus <%= @comparison.id %></h1>

<div class="flot_dataset_picker">
  <%= flot_selections %>
</div>
<br/>

<%= flot_canvas 'experiment_roc_plot' %>

<% flot_graph('experiment_roc_plot', @flot) do %>
  <%= flot_plot(:dynamic => true, :overview => false) %>
  <%= flot_tooltip %>
<% end %>
