<h1>Plots</h1>
<ul>
<li><%= link_to "ROC area versus PR area, series by k, for all source species", graph_matrix_url(@matrix.id) %></li>
<li><%= link_to "ROC area by k, for all source species", graph_matrix_url(@matrix.id, :x_method => :k, :y_method => :roc_area) %></li>
<li><%= link_to "PR area by k, for all source species", graph_matrix_url(@matrix.id, :x_method => :k, :y_method => :pr_area) %></li>
</ul>

<h1>Listing Experiments</h1>

<table id="experiments" class="sortable">
  <tr>
    <th>ID</th>
    <th>Method</th>
    <th>Distance function</th>
    <th>Sources</th>
    <th>K</th>
    <th>g<sub>min</sub></th>
    <th>d<sub>max</sub></th>
    <th>d<sup>x</sup></th>
    <th>idf<sub>min</sub></th>
    <th>Run result</th>
    <th>AUROC</th>
    <th>AUPRC</th>
    <th>Gem/Version</th>
    <th/>
  </tr>

<% @experiments.each do |experiment| %>
  <tr>
    <td><%=h experiment.id %></td>
    <td><%=h experiment.method %></td>
    <td><%=h experiment.distance_measure %></td>
    <td><%=h experiment.source_matrix_ids.sort{|a,b| a.to_i <=> b.to_i}.join(", ") %></td>
    <td><%=h experiment.k %></td>
    <td><%=h experiment.min_genes %></td>
    <td><%=h experiment.max_distance %></td>
    <td><%=h experiment.method == "average" ? "NA" : experiment.distance_exponent %></td>
    <td><%=h experiment.min_idf %></td>
    <td><%=h experiment.run_result %></td>
    <td><%=h experiment.roc_area %></td>
    <td><%=h experiment.pr_area %></td>
    <td><%=h experiment.package_version %></td>
    <td><%= link_to_experiment_if_appropriate(@matrix, experiment, "Show") %></td>
  </tr>
<% end %>
</table>

<br />
<%= link_to 'New experiment', new_matrix_experiment_path(@matrix.id) %>
