<% content_for :head do %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'jquery.flot.min.js' %>
  <%= javascript_include_tag 'jquery-ui.js' %>
  <%= javascript_include_tag 'jrails.js' %>
  <%= javascript_include_tag 'prototype.js' %>
  <%= javascript_include_tag 'flotomatic.js' %>
<% end %>

<%= link_to 'Edit', edit_matrix_experiment_path(@matrix, @experiment) %> |
<%= link_to 'Back', matrix_experiments_path %>

<table id="experiment_rocs">
  <tr>
    <th><%= @experiment.predict_matrix.column_title %></th>
    <th>ROC area</th>
    <th>PR area</th>
    <th>Genes</th>
  </tr>
<%- @experiment.results.each do |result| -%>
  <tr>
    <td><%= result.column %></td>
    <td><%= result.roc_area %></td>
    <td><%= result.pr_area %></td>
    <td><%= result.gene_count %></td>
  </tr>
<%- end -%>
</table>

<%= render :partial => 'matrices/plot', :locals => {:canvas_id => 'experiment_roc_plot', :data => @flot} %>