<% content_for :head do %>
  <%#= flot_includes %>
  <%= javascript_include_tag 'jquery.js' %>
  <%= javascript_include_tag 'jquery.flot.min.js' %>
  <%= javascript_include_tag 'jquery-ui.js' %>
  <%= javascript_include_tag 'jrails.js' %>
  <%= javascript_include_tag 'prototype.js' %>
  <%= javascript_include_tag 'flotomatic.js' %>
<% end %>

<div class="nav">
  <%= link_to 'Edit', edit_roc_group_path(@roc_group) %> |
  <%= link_to 'Back', roc_groups_path %>
</div>

<div class="content">
  <dl>
    <dt>Title:</dt>
    <dd><%=h @roc_group.title %></dd>
    <dt>Plot:</dt>
    <dd><%= render :partial => 'matrices/plot', :locals => {:canvas_id => 'experiment_roc_plot', :rocs => @rocs} %></dd>
  </dl>
</div>
