<%= f.error_messages %>

<p>
  <%= f.label :method %><br />
  <%= select_method f, :method %>
</p>

<div id='integrator_integrands'>
  <% f.fields_for :integrands do |integrand_form| %>
    <%= render :partial => 'integrators/integrand', :locals => { :f => integrand_form, :matrix_id => @matrix_id } %>
  <% end %>
</div>

<p>
  <%= add_nested_link 'Add an Integrand', 'integrator_integrands', 'integrand', f %>
</p>
