<div class="integrand">
  <p>
    <%= f.hidden_field :_delete, :class => 'delete' %>
    <%= f.label :experiment_id %>
    <%= select_parent_experiment f, :experiment_id, @matrix_id %>
    <%= f.label :weight %>
    <%= f.text_field :weight %>
    <%= remove_nested_link 'remove', :integrand, f %>
  </p>
</div>
