<h1>Viewing Gene <%=h @gene.symbol %></h1>

<div class="container">
  <dl>
    <dt>Symbol</dt>
    <dd class="noline"><%=h @gene.symbol %> <a href="http://www.ncbi.nlm.nih.gov/gene/<%= @gene.id %>">NCBI</a></dd>

    <dt>Full name</dt>
    <dd><%=h @gene.full_name %></dd>

    <dt>Ensembl</dt>
    <dd><%=h @gene.ensembl_id %></dd>

    <dt>Species</dt>
    <dd><%=h @gene.species %></dd>

    <dt>Aliases</dt>
    <dd><%=h @gene.synonyms %></dd>

    <dt>Summary</dt>
    <dd><%=h @gene.summary %></dd>
  </dl>
</div>

<%= link_to 'Edit', edit_gene_path(@gene) %> |
<%= link_to 'Back', genes_path %>